<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
<h1>Edit <%= resource_name.to_s.humanize %></h1>
</div>
<div class='account-page__inner--right user-form'>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <div class='field-label'>
      <%= f.label :name %>
    </div>
    <div class='field-input'>
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>
  

 
    <div class='field-label'>
      <%= f.label :email %>
    </div>
    <div class='field-input'>
      <%= f.email_field :email, autofocus: true %>
    </div>
 

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="actions">
    <%= f.submit "Update", class: 'btn' %>
  </div>
  </div>
<% end %>

 </div>
  </div>
</div>
