<header class="top-page-header">
  <div class="left-content">
    <%= link_to "english_comminuty", root_path, class: "home" %> 
  </div>
  <div class="navbar"></div>
    <ul class="lists-right">   
      <% if user_signed_in? %>
        <li><%= link_to current_user.name, "#", class: "user-name" %></li>
        <%= link_to memos_path, class: "header-memo", method: :get do %>
        <li><i class="fa fa-file-text-o fa-2x" aria-hidden="true" id='memo'></i></li>
        <% end %>
        <li><i class="fa fa-list fa-2x" aria-hidden="true" id="menu"></i></li>
        </div>
   
      <% else %>
      <div class="login-box">
        <li><%= link_to 'log_in', user_session_path, class: "login" %></li>
      </div>
      <div class="signup-box">
        <li><%= link_to 'sign_up', new_user_registration_path, class: "signup" %></li>
      </div>
      <% end %>
    </ul>
</header>