<%= render "shared/header" %>

<body>
<div class="whole">
  <div class="first-view">
    <%= image_tag asset_path("thomas-willmott-IAQp5dLXUZQ-unsplash.jpg"), class: "top-image" %>
    <h1>let's talk in English!</h1>
    <%= render "shared/lists" %>
  </div>

  

  <div class="search">
    <%= search_form_for @p, url: search_rooms_path do |f| %>
      <%= f.collection_select :toeic_id_eq, @toeic, :toeic_id, :toeic_id,  include_blank: 'your TOEIC_level?'%>
      <input type="submit" class="fa fa-2x" value="&#xf002;">
    <% end %>
    <div class="create-room">
      <%= button_to "create room!", {controller: "rooms", action: "new"}, {method: :get, class: "create-room-btn"} %>
    </div>
  </div>

  <% if @rooms.present? %>
    <div class="rooms">
      <div class="room">
      <% @rooms.each do |room| %>
      <div class="room-detail">
        <div class="room-info">
          <div class="room-name">
            <%= link_to room.title, room_path(room), class: "room-title" %>
          </div> 
          <div class="room-content">
            <%= room.content %>
          </div>
        </div>
        <div class="room-right">
          <div class="room-created">
            <p>Making day</p>
            <%= room.created_at.strftime('%Y/%m/%d') %>
          </div>
          <div class="room-toeic">
            <%= "TOEIC_level:#{room.toeic.name}" %>
          </div> 
        </div>
      </div>

      <% end %> 
      </div>
    </div>
  <% end %>
</div>
  
</body>
 <%= render "shared/footer" %>