<%= render "shared/header" %>

<body>
<div class="whole">
  <div class="first-view">
    <%= image_tag 'thomas-willmott-IAQp5dLXUZQ-unsplash', class: "top-image"%>
    <h1>let's talk in English!</h1>
    <%= render "shared/lists" %>
</div>


  <h2><span>room lists</span></h2>

<div class="search">
  <%= search_form_for @p, url: search_rooms_path do |f| %>
    <%= f.collection_select :toeic_id_eq, @toeic, :toeic_id, :toeic_id,  include_blank: 'your TOEIC_level?'%>
    <input type="submit" class="fa fa-2x" value="&#xf002;">
  <% end %>
  <div class="create-room">
    <%= link_to "create room!", new_room_path, class: "create" %>
  </div>
</div>

  <div class="rooms">
    <div class="room">
    <% @rooms.each do |room| %>
     <ul class="room-detail">
      <li class="room-user-name"> 
        <% if room.user.image? %>
          <%= image_tag room.user.image.url %>
        <% end %>
        <%= room.user.name %>
       </li>
      <li class="room-name">
        <%= room.name %>
       </li> 
       <li class="room-toeic">
        <%= "TOEIC_level:#{room.toeic.name}" %>
       </li> 
       <li class="enter-room">
        <%= link_to "enter", rooms_path(room), class: "enter" %>
       </li>
      </ul>
    <% end %> 
    
    </div>
  </div>
  </div>
  
</body>
 <%= render "shared/footer" %>