<div class='chat-room-form'>
  <h1>Create Room</h1>
  <%=form_with model: @room, local: true do |f|%>

  <%= render "shared/error_messages", model: f.object %>

    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :Title, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :title, class: 'chat__room_name chat-room-form__input', placeholder: 'Please input the title of the room'%>
      </div>
    </div>
    <div class='chat-room-form__field'>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :Content, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_area :content, class: 'chat__room_name chat-room-form__input', placeholder: 'Please input the content of the room'%>
      </div>
    <div class='chat-room-form__field'>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <label class='chat-room-form__label' for='chat_room_ãƒ'>Toeic level</label>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.collection_select(:toeic_id, Toeic.all, :id, :name, {}, {class:"toeic:select", id:"toeic"}) %>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'></div>
      <div class='chat-room-form__field--right'>
        <%= f.submit class: 'chat-room-form__action-btn', id: 'create-room'%>
      </div>
    </div>
  <% end %>
</div>
