<%= render "shared/header" %>

<%= render "shared/lists" %>

<div class="wrapper">
  <div class="side-bar">
    <div class="memo-lists">
      <h1>~Memo lists~</h1>
    </div>
    <div class="display-btn" id="display">
      <h4>display</h5>
    </div>
    <% @memos.each do |memo| %>
      <% if current_user.id == memo.user_id %>
        <div class="room-memo-lists hidden" id="memo-lists">
          <div class="memo-content">
            <%= memo.content %>
          </div>
          <div class="memo-translation">
            <%= memo.translation %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="chat">
    <div class="chat-header">
      <% if @room.user.image? %>
        <div class="create-user-image">
          <%= image_tag @room.user.image.url %>
        </div>  
      <% end %>
      <div class="create-user-name">
         <%= @room.user.name %>
      </div>
      <% if current_user.id == @room.user_id %>
        <div class="delete-btn">
          <%= button_to "delete the room", {controller: "rooms", action: "destroy"}, { method: :delete } %>
        </div>
      <% else %>
        <div class="leave-btn">
          <%= button_to "Leave", { controller: "rooms", action: "index"}, { method: :get } %>
        </div>
      <% end %>
    </div>

    <div class="messages-screen">
      <div id='messages' data-room_id="<%= @room.id %>" class="messages">
        <div class="message">
          <%= render @messages %>
        </div>
      </div>
    </div>

    <div class="message-form">  
      <%= text_field_tag :content, nil, data: { behavior: 'room_speaker' }, class: "form-message", placeholder: "you can send it by enter" %>
    </div>
    
  </div>  
</div>