<%= render "shared/header" %>

<%= render "shared/lists" %>

<div class="wrapper">
  <div class="side-bar">
    <div class="memo-lists">
      <h1>~Memo lists~</h1>
    </div>
    <div class="display-btn">
      <h4>display</h5>
    </div>
  </div>
  <div class="chat">
    <div class="chat-header">
      <div class="create-user-image">
        <%= image_tag @room.user.image.url %>
      </div>  
      <div class="create-user-name">
         <%= @room.user.name %>
      </div>
      <div class="leave-btn">
        <%= button_to "Leave", { controller: "rooms", action: "index"}, { method: :get } %>
      </div>
    </div>
  </div>  
</div>